@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@layer base {
    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
    h4 {
        @apply text-2xl;
    }
}


@layer components {
  html {
    /* @apply  px-4 py-2 font-semibold text-white bg-blue-500 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75; */
  }
}




@layer components {
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        /* padding: theme('spacing.6'); */
        box-shadow: theme('boxShadow.xl');
    }
    .mine {
        @apply rounded-b-lg shadow-md text-blue-500
    }
    .btn {
        @apply py-1 px-2 rounded
    }
    .btn.success {
        @apply py-1 px-2 rounded bg-blue-400
    }
    .btn.danger {
        @apply py-1 px-2 rounded bg-red-600
    }
    .btn.go {
        @apply py-1 px-2 rounded bg-green-800
    }
    .btn.pink {
        @apply py-1 px-2 rounded bg-pink-600
    }
    .btn.orange {
        @apply py-1 px-2 rounded bg-orange-500
    }
    .btn.yellow {
        @apply py-1 px-2 rounded bg-yellow-600
    }
    *{
      @apply dark:bg-black 
    }
    /* ... */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.toast-message {
    background: darkblue;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}

.division{
  text-align: left;
}

.division p{
display:flex ;
flex-flow : wrap;

justify-content: space-between;
text-align: left;
/* justify-self :left; */
/* align-items: self-start; */
}

.singlee{
  text-align: left;
display: flex;
  align-content: flex-start;
  justify-items: flex-start;
}


.diverse:nth-child(even) {
  @apply bg-blue-50;
}


body {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto', sans-serif, 'Noto-Sans'; */
  /* font-family: 'Noto Sans', sans-serif; */
  /* font-family: Calibri,sans-serif; */
}

/* body{

} */

.containers {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
} */

/* .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
} */

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

/* .task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
  color: #000;
} */

body {
  /* min-height: 100vh;
  font-size: 1.5rem; */

}

/* input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
} */

/* header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: purple;
  color: whitesmoke;
  position: sticky;
  top: 0;
} */

/* nav {
  display: flex;
  justify-content: flex-end;
} */

/* nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav a, nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
}

.postCredit {
  font-size: 1rem;
}

.postCredit a, 
.postCredit a:visited {
  margin-right: 0.5rem;
  color: black;
}

.postCredit a:hover, 
.postCredit a:focus {
  color: hsla(0, 0%, 0%, 0.75);
}

.excerpt {
  font-style: italic;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: #000;
  font-size: 1rem;
}

.deleteButton {
  background-color: palevioletred;
  color: white;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.meow{
  margin-inline: auto;
}

.inline {
    margin-inline: auto;
}


.ds-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ds-ring:after {
  content: " ";
  display: block;
  width: 164px;
  height: 164px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: ds-ring 1.2s linear infinite;
}
@keyframes ds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-loading-bar {
  height: 0;
  overflow: hidden;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  /* .is-loading {
    height: 80px;
  } */
}

.is-loading-bar .is-loading {
  height: 400px;
}

.notnot{
  
}


.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
  border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
  }





.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: white;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 black;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}



button:active {
	background-color: red;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
	transform: scale(0.99);
}

.payment-success{
	color: green;
	text-align: center;
}
.Thank-you{
	color: black
}
.error{
	color: red
}